<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginUserCon</servlet-name>
  	<display-name>LoginUserCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginUserCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JoinUserCon</servlet-name>
  	<display-name>JoinUserCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinUserCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginExpertCon</servlet-name>
  	<display-name>LoginExpertCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginExpertCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JoinExpertCon</servlet-name>
  	<display-name>JoinExpertCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinExpertCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logoutCon</servlet-name>
  	<display-name>logoutCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.logoutCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateUserCon</servlet-name>
  	<display-name>updateUserCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.updateUserCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateExpertCon</servlet-name>
  	<display-name>updateExpertCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.updateExpertCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateMypageCon</servlet-name>
  	<display-name>updateMypageCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.updateMypageCon</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginUserCon</servlet-name>
  	<url-pattern>/LoginUserCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinUserCon</servlet-name>
  	<url-pattern>/JoinUserCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginExpertCon</servlet-name>
  	<url-pattern>/LoginExpertCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinExpertCon</servlet-name>
  	<url-pattern>/JoinExpertCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logoutCon</servlet-name>
  	<url-pattern>/logoutCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateUserCon</servlet-name>
  	<url-pattern>/updateUserCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateExpertCon</servlet-name>
  	<url-pattern>/updateExpertCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateMypageCon</servlet-name>
  	<url-pattern>/updateMypageCon</url-pattern>
  </servlet-mapping>
</web-app>
