<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginUserCon</servlet-name>
  	<display-name>LoginUserCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginUserCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JoinUserCon</servlet-name>
  	<display-name>JoinUserCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinUserCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginExpertCon</servlet-name>
  	<display-name>LoginExpertCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginExpertCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JoinExpertCon</servlet-name>
  	<display-name>JoinExpertCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinExpertCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logoutCon</servlet-name>
  	<display-name>logoutCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.logoutCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateUserCon</servlet-name>
  	<display-name>updateUserCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.updateUserCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateExpertCon</servlet-name>
  	<display-name>updateExpertCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.updateExpertCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateMypageCon</servlet-name>
  	<display-name>updateMypageCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.updateMypageCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateDroneCon</servlet-name>
  	<display-name>updateDroneCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.updateDroneCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertDroneCon</servlet-name>
  	<display-name>insertDroneCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.insertDroneCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteDroneCon</servlet-name>
  	<display-name>deleteDroneCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.deleteDroneCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>uptdateNoticeCon</servlet-name>
  	<display-name>uptdateNoticeCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.uptdateNoticeCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateNoticeCon</servlet-name>
  	<display-name>updateNoticeCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.updateNoticeCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteNoticeCon</servlet-name>
  	<display-name>deleteNoticeCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.deleteNoticeCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertNoticeCon</servlet-name>
  	<display-name>insertNoticeCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.insertNoticeCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateUserInquiryCon</servlet-name>
  	<display-name>updateUserInquiryCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.updateUserInquiryCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateExpertInquiryCon</servlet-name>
  	<display-name>updateExpertInquiryCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.updateExpertInquiryCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteUserInquiryCon</servlet-name>
  	<display-name>deleteUserInquiryCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.deleteUserInquiryCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteExpertInquiryCon</servlet-name>
  	<display-name>deleteExpertInquiryCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.deleteExpertInquiryCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertUserInquiryCon</servlet-name>
  	<display-name>insertUserInquiryCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.insertUserInquiryCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertExpertInquiryCon</servlet-name>
  	<display-name>insertExpertInquiryCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.insertExpertInquiryCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteExpertCon</servlet-name>
  	<display-name>deleteExpertCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.deleteExpertCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteUserCon</servlet-name>
  	<display-name>deleteUserCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.deleteUserCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertPostCon</servlet-name>
  	<display-name>insertPostCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.insertPostCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updatePostCon</servlet-name>
  	<display-name>updatePostCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.updatePostCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletePostCon</servlet-name>
  	<display-name>deletePostCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.deletePostCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertWorkUserMypageCon</servlet-name>
  	<display-name>insertWorkUserMypageCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.insertWorkUserMypageCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteWorkUserMypageCon</servlet-name>
  	<display-name>deleteWorkUserMypageCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.deleteWorkUserMypageCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteWorkExpertMypageCon</servlet-name>
  	<display-name>deleteWorkExpertMypageCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.deleteWorkExpertMypageCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>checkUserId</servlet-name>
  	<display-name>checkUserId</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.checkUserId</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>checkExpertId</servlet-name>
  	<display-name>checkExpertId</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.checkExpertId</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>serchText</servlet-name>
  	<display-name>serchText</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.serchText</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>chatSubmit</servlet-name>
  	<display-name>chatSubmit</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.chatSubmit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>chatList</servlet-name>
  	<display-name>chatList</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.chatList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginUserCon</servlet-name>
  	<url-pattern>/LoginUserCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinUserCon</servlet-name>
  	<url-pattern>/JoinUserCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginExpertCon</servlet-name>
  	<url-pattern>/LoginExpertCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinExpertCon</servlet-name>
  	<url-pattern>/JoinExpertCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logoutCon</servlet-name>
  	<url-pattern>/logoutCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateUserCon</servlet-name>
  	<url-pattern>/updateUserCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateExpertCon</servlet-name>
  	<url-pattern>/updateExpertCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateMypageCon</servlet-name>
  	<url-pattern>/updateMypageCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateDroneCon</servlet-name>
  	<url-pattern>/updateDroneCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertDroneCon</servlet-name>
  	<url-pattern>/insertDroneCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteDroneCon</servlet-name>
  	<url-pattern>/deleteDroneCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>uptdateNoticeCon</servlet-name>
  	<url-pattern>/uptdateNoticeCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateNoticeCon</servlet-name>
  	<url-pattern>/updateNoticeCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteNoticeCon</servlet-name>
  	<url-pattern>/deleteNoticeCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertNoticeCon</servlet-name>
  	<url-pattern>/insertNoticeCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateUserInquiryCon</servlet-name>
  	<url-pattern>/updateUserInquiryCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateExpertInquiryCon</servlet-name>
  	<url-pattern>/updateExpertInquiryCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteUserInquiryCon</servlet-name>
  	<url-pattern>/deleteUserInquiryCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteExpertInquiryCon</servlet-name>
  	<url-pattern>/deleteExpertInquiryCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertUserInquiryCon</servlet-name>
  	<url-pattern>/insertUserInquiryCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertExpertInquiryCon</servlet-name>
  	<url-pattern>/insertExpertInquiryCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteExpertCon</servlet-name>
  	<url-pattern>/deleteExpertCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteUserCon</servlet-name>
  	<url-pattern>/deleteUserCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertPostCon</servlet-name>
  	<url-pattern>/insertPostCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updatePostCon</servlet-name>
  	<url-pattern>/updatePostCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletePostCon</servlet-name>
  	<url-pattern>/deletePostCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertWorkUserMypageCon</servlet-name>
  	<url-pattern>/insertWorkUserMypageCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteWorkUserMypageCon</servlet-name>
  	<url-pattern>/deleteWorkUserMypageCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteWorkExpertMypageCon</servlet-name>
  	<url-pattern>/deleteWorkExpertMypageCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>checkUserId</servlet-name>
  	<url-pattern>/checkUserId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>checkExpertId</servlet-name>
  	<url-pattern>/checkExpertId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>serchText</servlet-name>
  	<url-pattern>/serchText</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>chatSubmit</servlet-name>
  	<url-pattern>/chatSubmit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>chatList</servlet-name>
  	<url-pattern>/chatList</url-pattern>
  </servlet-mapping>
</web-app>