<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.database.ChattingMapper">
	<select id="EachChattingRoom" parameterType="int" resultType="com.smhrd.domain.chatDTO">
		select * from t_chatting where tuw_idx=#{tuw_idx} order by created_at
	</select>
	<insert id="SubmitChattingFile" parameterType="com.smhrd.domain.chatDTO">
		insert into t_chatting values (null,#{tuw_idx},#{talker},#{talk},sysdate,#{ch_file})
	</insert>
	<insert id="SubmitChattingEmpty" parameterType="com.smhrd.domain.chatDTO">
		insert into t_chatting values (null,#{tuw_idx},#{talker},#{talk},sysdate,null)
	</insert>
	<insert id="insertWelcomeChatting" parameterType="com.smhrd.domain.userWorkDTO">
		insert into t_chatting(tuw_idx, talker, talk, created_at) values (#{tuw_idx},#{user_id},#{user_id}||'님이 입장하셨습니다.',sysdate)
	</insert>
	<select id="selectUpIdx" parameterType="int" resultType="com.smhrd.domain.chatDTO">
		select * from t_chatting where tuw_idx=#{tuw_idx} and chat_idx>#{chat_idx} order by created_at
	</select>
</mapper>