<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.database.CommunityMapper">
	<select id="selectNotice" parameterType="int" resultType="com.smhrd.domain.noticeDTO">
		select * from t_notice where notice_idx=#{notice_idx}
	</select>
	<select id="selectAllNotice" resultType="com.smhrd.domain.noticeDTO">
		select * from t_notice
	</select>
	<insert id="insertNotice" parameterType="com.smhrd.domain.noticeDTO">
		insert into t_notice values (t_notice_seq.nextval,#{notice_title},#{notice_content},#{notice_file},sysdate)
	</insert>
	<insert id="insertNoticeEmpty" parameterType="com.smhrd.domain.noticeDTO">
		insert into t_notice(notice_idx,notice_title,notice_content,created_at) values (t_notice_seq.nextval,#{notice_title},#{notice_content},sysdate)
	</insert>
	<update id="updateNoticeTitle" parameterType="com.smhrd.domain.noticeDTO">
		update t_notice set notice_title=#{notice_title} where notice_idx=#{notice_idx}
	</update>
	<update id="updateNoticeContent" parameterType="com.smhrd.domain.noticeDTO">
		update t_notice set notice_content=#{notice_content} where notice_idx=#{notice_idx}
	</update>
	<update id="updateNoticeFile" parameterType="com.smhrd.domain.noticeDTO">
		update t_notice set notice_file=#{notice_file} where notice_idx=#{notice_idx}
	</update>
	<delete id="deleteNotice" parameterType="int">
		delete from t_notice where notice_idx=#{notice_idx}
	</delete>
	<select id="selectRecentNotice" parameterType="com.smhrd.domain.noticeDTO" resultType="int">
		select notice_idx from t_notice where notice_title=#{notice_title} and notice_content=#{notice_content}
	</select>
	<select id="selectUserInquiry" parameterType="int" resultType="com.smhrd.domain.userInquiryDTO">
		select * from t_inquiry_user where inq_idx=#{inq_idx}
	</select>
	<select id="selectAllUserInquiry" parameterType="String" resultType="com.smhrd.domain.userInquiryDTO">
		select * from t_inquiry_user where user_id=#{user_id}
	</select>
	<insert id="insertUserInquiry" parameterType="com.smhrd.domain.userInquiryDTO">
		insert into t_inquiry_user values (t_inquiry_user_seq.nextval,#{inq_title},#{inq_content},#{inq_file},sysdate,#{user_id})
	</insert>
	<insert id="insertUserInquiryEmpty" parameterType="com.smhrd.domain.userInquiryDTO">
		insert into t_inquiry_user(inq_idx,inq_title,inq_content,created_at,user_id) values (t_inquiry_user_seq.nextval,#{inq_title},#{inq_content},sysdate,#{user_id})
	</insert>
	<update id="updateUserInquiryTitle" parameterType="com.smhrd.domain.userInquiryDTO">
		update t_inquiry_user set inq_title=#{inq_title} where inq_idx=#{inq_idx}
	</update>
	<update id="updateUserInquiryContent" parameterType="com.smhrd.domain.userInquiryDTO">
		update t_inquiry_user set inq_content=#{inq_content} where inq_idx=#{inq_idx}
	</update>
	<update id="updateUserInquiryFile" parameterType="com.smhrd.domain.userInquiryDTO">
		update t_inquiry_user set inq_file=#{inq_file} where inq_idx=#{inq_idx}
	</update>
	<delete id="deleteUserInquiry" parameterType="int">
		delete from t_inquiry_user where inq_idx=#{inq_idx}
	</delete>
	<select id="selectRecentUserInquiry" parameterType="com.smhrd.domain.userInquiryDTO" resultType="int">
		select inq_idx from t_inquiry_user where inq_title=#{inq_title} and inq_content=#{inq_content} and user_id=#{user_id}
	</select>
	<select id="selectExpertInquiry" parameterType="int" resultType="com.smhrd.domain.expertInquiryDTO">
		select * from t_inquiry_exp where inq_idx=#{inq_idx}
	</select>
	<select id="selectAllExpertInquiry" parameterType="String" resultType="com.smhrd.domain.expertInquiryDTO">
		select * from t_inquiry_exp where exp_id=#{exp_id}
	</select>
	<insert id="insertExpertInquiry" parameterType="com.smhrd.domain.expertInquiryDTO">
		insert into t_inquiry_exp values (t_inquiry_exp_seq.nextval,#{inq_title},#{inq_content},#{inq_file},sysdate,#{exp_id})
	</insert>
	<insert id="insertExpertInquiryEmpty" parameterType="com.smhrd.domain.userInquiryDTO">
		insert into t_inquiry_user(inq_idx,inq_title,inq_content,created_at,exp_id) values (t_inquiry_user_seq.nextval,#{inq_title},#{inq_content},sysdate,#{exp_id})
	</insert>
	<update id="updateExpertInquiryTitle" parameterType="com.smhrd.domain.expertInquiryDTO">
		update t_inquiry_exp set inq_title=#{inq_title} where inq_idx=#{inq_idx}
	</update>
	<update id="updateExpertInquiryContent" parameterType="com.smhrd.domain.expertInquiryDTO">
		update t_inquiry_exp set inq_content=#{inq_content} where inq_idx=#{inq_idx}
	</update>
	<update id="updateExpertInquiryFile" parameterType="com.smhrd.domain.expertInquiryDTO">
		update t_inquiry_exp set inq_file=#{inq_file} where inq_idx=#{inq_idx}
	</update>
	<delete id="deleteExpertInquiry" parameterType="int">
		delete from t_inquiry_exp where inq_idx=#{inq_idx}
	</delete>
	<select id="selectRecentExpertInquiry" parameterType="com.smhrd.domain.expertInquiryDTO" resultType="int">
		select inq_idx from t_inquiry_exp where inq_title=#{inq_title} and inq_content=#{inq_content} and exp_id=#{exp_id}
	</select>
	<select id="selectSaleDroneCompany" resultType="com.smhrd.domain.droneCompanyDTO">
		select * from t_drone_company where dc_kind='S' or dc_kind='A'
	</select>
	<select id="selectRepairDroneCompany" resultType="com.smhrd.domain.droneCompanyDTO">
		select * from t_drone_company where dc_kind='R' or dc_kind='A'
	</select>	
</mapper>