<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.database.WorkMapper">
	<select id="selectAllWork" parameterType="String" resultType="com.smhrd.domain.workDTO">
		select * from (select * from t_work where w_kind=#{w_kind} order by DBMS_RANDOM.RANDOM)
	</select>
	<select id="selectWork" parameterType="Integer" resultType="com.smhrd.domain.workDTO">
		select * from t_work where w_idx=#{w_idx}
	</select>
	<select id="selectRecentWork" parameterType="com.smhrd.domain.workDTO" resultType="Integer">
		select w_idx from t_work where w_title=#{w_title} and w_content=#{w_content} and exp_id=#{exp_id} and w_price=#{w_price} and w_kind=#{w_kind}
	</select>
	<insert id="insertWorkAll" parameterType="com.smhrd.domain.workDTO">
		insert into t_work(w_title,w_content,w_file,exp_id,created_at,w_price,w_kind,w_img) values(#{w_title},#{w_content},#{w_file},#{exp_id},sysdate,#{w_price},#{w_kind},#{w_img})
	</insert>
	<insert id="insertWorkFile" parameterType="com.smhrd.domain.workDTO">
		insert into t_work(w_title,w_content,w_file,exp_id,created_at,w_price,w_kind) values values (#{w_title},#{w_content},#{w_file},#{exp_id},sysdate,#{w_price},#{w_kind})
	</insert>
	<insert id="insertWorkImg" parameterType="com.smhrd.domain.workDTO">
		insert into t_work(w_title,w_content,exp_id,created_at,w_price,w_kind,w_img) values values (#{w_title},#{w_content},#{exp_id},sysdate,#{w_price},#{w_kind},#{w_img})
	</insert>
	<insert id="insertWorkEmpty" parameterType="com.smhrd.domain.workDTO">
		insert into t_work(w_title,w_content,exp_id,created_at,w_price,w_kind) values values (t_work_seq.nextval,#{w_title},#{w_content},#{exp_id},sysdate,#{w_price},#{w_kind})
	</insert>
	<update id="updateWorkTitle" parameterType="com.smhrd.domain.workDTO">
		update t_work set w_title=#{w_title} where w_idx=#{w_idx}
	</update>
	<update id="updateWorkContent" parameterType="com.smhrd.domain.workDTO">
		update t_work set w_content=#{w_content} where w_idx=#{w_idx}
	</update>
	<update id="updateWorkFile" parameterType="com.smhrd.domain.workDTO">
		update t_work set w_file=#{w_file} where w_idx=#{w_idx}
	</update>
	<update id="updateWorkPrice" parameterType="com.smhrd.domain.workDTO">
		update t_work set w_price=#{w_price} where w_idx=#{w_idx}
	</update>
	<delete id="deleteWork">
		delete from t_work where w_idx=#{w_idx}
	</delete>
</mapper>