<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.database.WorkMapper">
	<select id="selectAllWork" parameterType="String" resultType="com.smhrd.domain.workDTO">
		select * from (select * from t_work where w_kind=#{w_kind} order by w_idx)
	</select>
	<select id="selectWork" parameterType="Integer" resultType="com.smhrd.domain.workDTO">
		select * from t_work where w_idx=#{w_idx}
	</select>
	<select id="selectRecentWork" parameterType="com.smhrd.domain.workDTO" resultType="Integer">
		select w_idx from t_work where w_title=#{w_title} and w_content=#{w_content} and exp_id=#{exp_id} and w_price=#{w_price} and w_kind=#{w_kind}
	</select>
	<insert id="insertWorkAll" parameterType="com.smhrd.domain.workDTO">
		insert into t_work(w_title,w_content,w_file,exp_id,created_at,w_price,w_kind,w_img) values(#{w_title},#{w_content},#{w_file},#{exp_id},sysdate,#{w_price},#{w_kind},#{w_img})
	</insert>
	<insert id="insertWorkFile" parameterType="com.smhrd.domain.workDTO">
		insert into t_work(w_title,w_content,w_file,exp_id,created_at,w_price,w_kind) values values (#{w_title},#{w_content},#{w_file},#{exp_id},sysdate,#{w_price},#{w_kind})
	</insert>
	<insert id="insertWorkImg" parameterType="com.smhrd.domain.workDTO">
		insert into t_work(w_title,w_content,exp_id,created_at,w_price,w_kind,w_img) values values (#{w_title},#{w_content},#{exp_id},sysdate,#{w_price},#{w_kind},#{w_img})
	</insert>
	<insert id="insertWorkEmpty" parameterType="com.smhrd.domain.workDTO">
		insert into t_work(w_title,w_content,exp_id,created_at,w_price,w_kind) values values (t_work_seq.nextval,#{w_title},#{w_content},#{exp_id},sysdate,#{w_price},#{w_kind})
	</insert>
	<update id="updateWorkTitle" parameterType="com.smhrd.domain.workDTO">
		update t_work set w_title=#{w_title} where w_idx=#{w_idx}
	</update>
	<update id="updateWorkContent" parameterType="com.smhrd.domain.workDTO">
		update t_work set w_content=#{w_content} where w_idx=#{w_idx}
	</update>
	<update id="updateWorkFile" parameterType="com.smhrd.domain.workDTO">
		update t_work set w_file=#{w_file} where w_idx=#{w_idx}
	</update>
	<update id="updateWorkPrice" parameterType="com.smhrd.domain.workDTO">
		update t_work set w_price=#{w_price} where w_idx=#{w_idx}
	</update>
	<update id="updateWorkImg" parameterType="com.smhrd.domain.workDTO">
		update t_work set w_img=#{w_img} where w_idx=#{w_idx}
	</update>	
	<delete id="deleteWork">
		delete from t_work where w_idx=#{w_idx}
	</delete>
	<select id="selectSearchPestControlTitleWork" parameterType="String" resultType="com.smhrd.domain.workDTO">
		select * from t_work where w_kind='P' and w_title LIKE '%'||#{w_title}||'%'
	</select>
	<select id="selectSearchPestControlContentWork" parameterType="String" resultType="com.smhrd.domain.workDTO">
		select * from t_work where w_kind='P' and w_content LIKE '%'||#{w_content}||'%'
	</select>
	<select id="selectSearchPestControlExpertWork" parameterType="String" resultType="com.smhrd.domain.workDTO">
		select * from t_work where w_kind='P' and exp_id LIKE '%'||#{exp_id}||'%'
	</select>
	<select id="selectSearchMeasureTitleWork" parameterType="String" resultType="com.smhrd.domain.workDTO">
		select * from t_work where w_kind='M' and w_title LIKE '%'||#{w_title}||'%'
	</select>
	<select id="selectSearchMeasureContentWork" parameterType="String" resultType="com.smhrd.domain.workDTO">
		select * from t_work where w_kind='M' and w_content LIKE '%'||#{w_content}||'%'
	</select>
	<select id="selectSearchMeasureExpertWork" parameterType="String" resultType="com.smhrd.domain.workDTO">
		select * from t_work where w_kind='M' and exp_id LIKE '%'||#{exp_id}||'%'
	</select>
	<select id="selectSearchShootingTitleWork" parameterType="String" resultType="com.smhrd.domain.workDTO">
		select * from t_work where w_kind='S' and w_title LIKE '%'||#{w_title}||'%'
	</select>
	<select id="selectSearchShootingContentWork" parameterType="String" resultType="com.smhrd.domain.workDTO">
		select * from t_work where w_kind='S' and w_content LIKE '%'||#{w_content}||'%'
	</select>
	<select id="selectSearchShootingExpertWork" parameterType="String" resultType="com.smhrd.domain.workDTO">
		select * from t_work where w_kind='S' and exp_id LIKE '%'||#{exp_id}||'%'
	</select>
	<select id="selectSearchTransportTitleWork" parameterType="String" resultType="com.smhrd.domain.workDTO">
		select * from t_work where w_kind='T' and w_title LIKE '%'||#{w_title}||'%'
	</select>
	<select id="selectSearchTransportContentWork" parameterType="String" resultType="com.smhrd.domain.workDTO">
		select * from t_work where w_kind='T' and w_content LIKE '%'||#{w_content}||'%'
	</select>
	<select id="selectSearchTransportExpertWork" parameterType="String" resultType="com.smhrd.domain.workDTO">
		select * from t_work where w_kind='T' and exp_id LIKE '%'||#{exp_id}||'%'
	</select>
	<select id="selectSearchETCTitleWork" parameterType="String" resultType="com.smhrd.domain.workDTO">
		select * from t_work where w_kind='E' and w_title LIKE '%'||#{w_title}||'%'
	</select>
	<select id="selectSearchETCContentWork" parameterType="String" resultType="com.smhrd.domain.workDTO">
		select * from t_work where w_kind='E' and w_content LIKE '%'||#{w_content}||'%'
	</select>
	<select id="selectSearchETCExpertWork" parameterType="String" resultType="com.smhrd.domain.workDTO">
		select * from t_work where w_kind='E' and exp_id LIKE '%'||#{exp_id}||'%'
	</select>
</mapper>